.servicesTitle {
  text-transform: uppercase;
  color: #121212;
  margin: 40px 0 24px 0;
  text-align: center;
  font-size: 24px;
}

.services {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.service p {
  text-align: center;
  margin: 8px 0;
  font-size: 16px;
  transition: all 0.4s;
}

.innerService {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 4px;
}

.imageService {
  object-fit: cover;
  border-radius: 4px;
  width: 280px;
  height: 350px;
  transition: all 0.4s;
}

.innerService:hover {
  .imageService {
    transform: scale(1.2);
  }
  + p {
    font-weight: bold;
  }
}

@media (min-width: 640px) {
  .services {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .innerService {
    width: 280px;
    height: 200px;
  }

  .servicesTitle {
    font-size: 36px;
    margin-top: 50px;
  }
}
