.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
  gap: 24px;

  a {
    background-color: #121212;
    color: #fff;
    padding: 16px 32px;
    border-radius: 4px;
  }
}
