.main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerHero {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;

  & .title {
    font-size: 30px;
    color: white;
    margin-bottom: 14px;
    text-align: center;
    font-weight: bold;
  }
}

.contentBanner {
  position: relative;
  width: 100%;
  height: 500px;
  background: #000;

  & .banner {
    width: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.50;
    background: fixed;
  }
}

@media (min-width: 640px) {
  .title {
    font-size: 40px;
    max-width: 600px;
  }
}
