.containerAbout {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin: 24px 0;
  padding: 54px;

  & .title {
    font-size: 32px;
    color: #121212;
  }
}

.innerAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;

  p {
    line-height: 150%;
  }
}

.bannerAbout {
  position: relative;
  width: 300px;
  height: 350px;

  & .imageAbout {
    object-fit: cover;
    width: 300px;
    height: 350px;
    border-radius: 8px;
  }
}

@media (min-width: 640px) {
  .containerAbout {
    flex-direction: row;
    gap: 32px;

    & .title {
      align-self: flex-start;
    }
  }
}

@media (min-width: 768px) {
  .innerAbout {
    p {
      align-self: flex-start;
      max-width: 80%;
    }
  }

  .bannerAbout {
    width: 600px;
    height: 450px;
  }
}
