.header {
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #fff;
}

.fixed {
  position: fixed;
  background-color: rgba(252, 252, 252, 0.75);
  --web-kit-box-shadow: 0px 6px 20px -12px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 6px 20px -12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 20px -12px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.background {
  background-color: #fff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 14px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.contentLogo {
  display: none;

  a {
    font-weight: bold;
    color: #121212;
    font-size: 32px;
  }
}

.nav {
  display: flex;
  gap: 16px;

  a {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-weight: normal;
    color: #121212;
    transition: all 0.5s;
  }

  a:hover {
    font-weight: bold;
    transform: scale(1.09);
  }
}

@media (min-width: 640px) {
  .contentLogo {
    display: flex;
  }
}
