.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 84px 0 14px 0;
}

.section {
  width: 90%;
  background-color: #000;
  padding: 32px 12px;
  border-radius: 12px;
  z-index: 99;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  margin-bottom: 24px;
}

.content {
  color: #fff;
  display: grid;
  gap: 16px;
  padding: 16px 32px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  gap: 16px;
  align-items: center;
}

.copyText {
  margin-top: 50px;
}

@media (min-width: 640px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .section {
    width: 60%;
  }
}
